@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav-link:hover {
  color: rgb(3, 3, 3);
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

.search-section {
  background-color: #04041a;
  position: relative;
}

.download-link {
  background-color: rgb(235, 157, 13);
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
}

.search-section h3 {
  color: white;
  font-weight: 600;
  z-index: 10;
}

.search-section p {
  color: white;
  z-index: 10;
}

.search-event-form {
  padding: 15px 25px;
  border: none;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 100;
}

.search-event {
  display: flex;
  justify-content: center;
}

.search-event button {
  border: none;
  background-color: rgb(235, 157, 13);
  padding: 5px 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}

.search-event button i {
  color: #ffffff;
  padding-right: 5px;
}

.search-event-form {
  z-index: 1000;
}
.bg-left-image {
  position: absolute;
  top: 0;
  height: 100%;
}

.bg-left-image img {
  height: 250px;
}

.bg-right-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bg-right-image img {
  height: 250px;
}

.search-section-heading h3 {
  z-index: 1000;
}

.events-wrapper {
  position: relative;
}

.event-bg {
  position: absolute;
  z-index: -1;
}

.event-card-body {
  background-color: #ffffff;
}
.event-bg img {
  width: 100%;
  height: 150%;
  z-index: -1;
  opacity: 70%;
  top: 0;
}

.events-wrapper h2 {
  font-weight: 700;
  color: rgb(3, 23, 116);
}

.events-wrapper span {
  font-weight: 500;
  color: rgb(56, 52, 52);
}

.event-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
}

.event-name-header h5 {
  color: rgb(27, 27, 27);
  font-weight: 600;
  text-align: center;
  align-items: center;
}

.event-date-time {
  display: flex;
  justify-content: space-between;
  color: rgb(253, 4, 4);
}

.event-card-wrapper {
  border-radius: 15px;
}
.event-card-image {
  overflow: hidden;
  display: inline-block;
}
.event-card-image img {
  object-fit: contain;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: transform 0.2s linear;
}

.event-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.event-tickets p {
  font-weight: 700;
  font-size: 12px;
}

.book-tickets-btn {
  display: flex;
  justify-content: end;
}

.book-tickets-btn a {
  background-color: rgb(17, 17, 17);
  color: white;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 15px;
}

.event-card:hover .book-tickets-btn a {
  background-color: rgb(235, 157, 13);
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
}

.event-card:hover .tickets-details {
  position: absolute;
  top: 20%;
  background-color: #ffffff;
  color: black;
  padding: 8px 15px;
  visibility: visible;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.event-card:hover .event-card-image img {
  transform: scale(1.1);
  overflow: hidden;
  display: inline-block;
  border-top-left-radius: 15px;
}
.event-card-image {
  position: relative;
}

.tickets-details {
  position: absolute;
  top: 20%;
  background-color: #ffffff;
  color: black;
  padding: 8px 15px;
  visibility: hidden;
  transition: 0.5s ease-out;
  font-size: 10px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 5px solid transparent;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 5px solid rgb(22, 22, 165);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
.what-our-clients {
  background-color: #ffffff;
}
.what-our-clients-heading h2 {
  font-weight: 700;
  color: rgb(9, 9, 131);
}

.what-our-clients-heading span {
  font-weight: 500;
  color: rgb(80, 78, 78);
}

.slick-prev {
  border: none;
  background-color: rgb(12, 12, 46);
  color: rgb(12, 12, 46);
  padding: 15px 15px;
  position: absolute;
  top: -25px;
  left: 0;
  z-index: 1000;
  clip-path: polygon(0 48%, 50% 0, 100% 100%);
}

.slick-next {
  border: none;
  background-color: rgb(235, 157, 13);
  color: rgb(235, 157, 13);
  padding: 15px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1000;
  clip-path: polygon(100% 48%, 0 0, 50% 99%);
}

.review {
  text-align: justify;
}

.client-wrapper {
  line-height: 10px;
}

.client-name h6 {
  font-weight: 800;
  color: #06087e;
}

.client-designation p {
  font-weight: 600;
  color: grey;
  font-size: 13px;
}

#testomonials {
  position: relative;
}

.testomonial-wrapper {
  border: 1px solid rgb(241, 234, 234);
  border-radius: 15px;
  background-color: #ffffff;
}

.checked {
  color: orange;
}

.event-card {
  background-color: #ffffff;
}

.main-footer-wrapper {
  background-color: #04041a;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
}

.social-link i {
  color: #dde2e4;
  transition: 0.5s;
}

.social-link i:hover {
  color: #1cafe9;
}
.main-footer-wrapper h6 {
  color: #e7f1f5;
}

.site-map li {
  list-style: none;
}

.site-map-link a {
  font-size: 14px;
  color: rgb(199, 214, 241);
  transition: 0.5s ease;
}

.site-map-link a:hover {
  font-size: 14px;
  color: rgb(46, 64, 99);
  padding-left: 5px;
}

.site-map-link a:hover .site-header h6 {
  font-size: 14px;
  color: rgba(248, 2, 2, 0.911) !important;
  padding-left: 5px;
}
